<div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center mb-4"><b>{{ job.title }}</b></p>
        <p class="text-center mb-4"><span><b>Location: </b></span>{{ job.location }}</p>
        <p class="text-center mb-4"><span><b>Salary: </b></span>{{ job.salary }}</p>
        
      </div>
      <div class="col-md-6">
        <p class="text-center mb-4"><a href="#">Apply</a></p>
      </div>
    </div>
  </div>
  <hr color="#970001" width="100%"><!--bottom line-->